<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.mountainminds.eclipseinspector.ui.debug.DebugPropertyPage"
            id="com.mountainminds.eclipseinspector.debug"
            name="Debug">
      </page>
      <page
            category="com.mountainminds.eclipseinspector.debug"
            class="com.mountainminds.eclipseinspector.ui.debug.AdaptersPropertyPage"
            id="com.mountainminds.eclipseinspector.adapters"
            name="Adapters">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.mountainminds.eclipseinspector.commands"
            name="Eclipse Inspector">
      </category>
      <command
            categoryId="com.mountainminds.eclipseinspector.commands"
            defaultHandler="com.mountainminds.eclipseinspector.ui.layout.ColorLayoutHandler"
            id="com.mountainminds.eclipseinspector.colorLayouts"
            name="Color Layout">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.mountainminds.eclipseinspector.colorLayouts"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+F5">
      </key>
   </extension>

</plugin>
